[MESSAGES CONTROL]

disable=line-too-long,
        missing-function-docstring,
        missing-class-docstring,
        missing-module-docstring,
        too-few-public-methods,
        too-many-locals,
        too-many-arguments,
        invalid-name,
        broad-exception-caught,
        unspecified-encoding
        inconsistent-return-statements
